<% provide(:title, "About") %>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
      </h1>
      <p>More and more people is travelling on the weekends and, due to the restricted time, we have to sacrifice some places for other ones. 3days travel app is born to solve this problem and suggest people itineraries with awesome places, in order to don't miss anything important during their trip.</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <%= image_tag("isashi.jpg", class:"rounded-circle img-fluid d-block mx-auto") %>
          <br>
          <h3>Isashi Mitsui
            <small>Developer</small>
          </h3>
          <p>I created this app to make experience with Rails and Bootstrap</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <%= image_tag("dugong.jpg", class:"rounded-circle img-fluid d-block mx-auto") %>
          <br>
          <h3>Mr Dugong
            <small>Mascotte</small>
          </h3>
          <p>Dugong, also know as the manatee. Doesn't have wings, really close cousin with dolphins, quite ugly.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <%= image_tag("hyperchicken.jpg", class:"rounded-circle img-fluid d-block mx-auto") %>
          <br>
          <h3>Hyper-Chicken
            <small>Lawyer</small>
          </h3>
          <p>Despite being incompetent, he often manages to win his cases and if he doesn't, he usually tells his clients to plead insanity.</p>
        </div> 	
      </div>

    </div>
    <!-- /.container -->