<% provide(:title, "About") %>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>More and more people is travelling on the weekends and, due to the restricted time, we have to sacrifice some places for other ones. 3days travel app is born to solve this problem and suggest people itineraries with awesome places, in order to don't miss anything important during their trip.</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <br>
          <h3>Isashi Mitsui
            <small>Developer</small>
          </h3>
          <p>I created this app to make experience with Rails and Bootstrap</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <br>
          <h3>---
            <small>---</small>
          </h3>
          <p>---</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <br>
          <h3>---
            <small>---</small>
          </h3>
          <p>---</p>
        </div> 	
      </div>

    </div>
    <!-- /.container -->